#expectIMG{
	position:fixed;
	top:100px;
	right:50px;
}
#resultIMG{
	position:fixed;
	top:500px;
	right:50px;
}#MarlinH-263{
	background-color:84b4ef;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#Marlin_mainCPP-429{
	background-color:84b4ef;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#Marlin_mainCPP-430{
	background-color:84b4ef;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#Marlin_mainCPP-950{
	background-color:84b4ef;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#Marlin_mainCPP-2252{
	background-color:84b4ef;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#Marlin_mainCPP-2652{
	background-color:84b4ef;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#Marlin_mainCPP-2817{
	background-color:84b4ef;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#Marlin_mainCPP-3383{
	background-color:84b4ef;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#Marlin_mainCPP-3390{
	background-color:84b4ef;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#Marlin_mainCPP-3391{
	background-color:84b4ef;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#Marlin_mainCPP-3393{
	background-color:84b4ef;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#Marlin_mainCPP-3394{
	background-color:84b4ef;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#Marlin_mainCPP-3395{
	background-color:84b4ef;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#Marlin_mainCPP-3398{
	background-color:84b4ef;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#plannerCPP-80{
	background-color:84b4ef;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#plannerCPP-83{
	background-color:84b4ef;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#plannerCPP-492{
	background-color:84b4ef;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#plannerCPP-527{
	background-color:84b4ef;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#plannerCPP-529{
	background-color:84b4ef;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#plannerCPP-530{
	background-color:84b4ef;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#plannerCPP-531{
	background-color:84b4ef;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#ultralcdCPP-69{
	background-color:84b4ef;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#ultralcdCPP-70{
	background-color:84b4ef;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#ultralcdCPP-73{
	background-color:84b4ef;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#ultralcdCPP-403{
	background-color:84b4ef;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#ultralcdCPP-1312{
	background-color:84b4ef;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#ultralcdCPP-1313{
	background-color:84b4ef;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#ultralcdCPP-1318{
	background-color:84b4ef;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#ultralcdCPP-1321{
	background-color:84b4ef;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#MarlinH-266{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Yellow;
}
#MarlinH-267{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Yellow;
}
#Marlin_mainCPP-2610{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Yellow;
}
#Marlin_mainCPP-2611{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Yellow;
}
#Marlin_mainCPP-2763{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Yellow;
}
#Marlin_mainCPP-2764{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Yellow;
}
#Marlin_mainCPP-3256{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Yellow;
}
#Marlin_mainCPP-3257{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Yellow;
}
#Marlin_mainCPP-3440{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Yellow;
}
#Marlin_mainCPP-3441{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Yellow;
}
#Marlin_mainCPP-4337{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Yellow;
}
#plannerCPP-81{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#plannerCPP-82{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#plannerCPP-84{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#plannerCPP-85{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#plannerCPP-88{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Yellow;
}
#plannerCPP-89{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Yellow;
}
#plannerCPP-91{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Yellow;
}
#plannerCPP-92{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Yellow;
}
#plannerCPP-489{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#plannerCPP-493{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#plannerCPP-494{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#plannerCPP-495{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#plannerCPP-496{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#plannerCPP-498{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#plannerCPP-499{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#plannerCPP-500{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#plannerCPP-501{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#plannerCPP-502{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#plannerCPP-503{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#plannerCPP-504{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#plannerCPP-506{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#plannerCPP-507{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#plannerCPP-509{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#plannerCPP-511{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Yellow;
}
#plannerCPP-513{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#plannerCPP-515{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#plannerCPP-516{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#plannerCPP-519{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#plannerCPP-520{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#plannerCPP-521{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#plannerCPP-524{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#plannerCPP-538{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Yellow;
}
#plannerCPP-540{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Yellow;
}
#plannerCPP-541{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Yellow;
}
#plannerCPP-542{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Yellow;
}
#plannerCPP-543{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Yellow;
}
#plannerCPP-544{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Yellow;
}
#plannerCPP-545{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Yellow;
}
#plannerCPP-546{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Yellow;
}
#plannerCPP-547{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Yellow;
}
#plannerCPP-548{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Yellow;
}
#plannerCPP-549{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Yellow;
}
#plannerCPP-550{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Yellow;
}
#plannerCPP-552{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Yellow;
}
#plannerCPP-553{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Yellow;
}
#plannerCPP-555{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Yellow;
}
#plannerCPP-570{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#plannerCPP-574{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Yellow;
}
#ultralcdCPP-68{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#ultralcdCPP-71{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#ultralcdCPP-72{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#ultralcdCPP-74{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#ultralcdCPP-75{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#ultralcdCPP-582{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Yellow;
}
#ultralcdCPP-583{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Yellow;
}
#ultralcdCPP-1317{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#ultralcdCPP-1319{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#ultralcdCPP-1320{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#ultralcdCPP-1322{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#ultralcdCPP-1323{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#ultralcdCPP-1324{
	background-color:e69284;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#Marlin_mainCPP-3384{
	background-color:cfefc3;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#Marlin_mainCPP-3385{
	background-color:cfefc3;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#Marlin_mainCPP-3386{
	background-color:cfefc3;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#Marlin_mainCPP-3387{
	background-color:9fc1cc;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#Marlin_mainCPP-4336{
	background-color:d7d7c3;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Yellow;
}
#Marlin_mainCPP-4338{
	background-color:d0aafd;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Yellow;
}
#Marlin_mainCPP-5636{
	background-color:ffbde4;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#Marlin_mainCPP-5866{
	background-color:a6c281;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#Marlin_mainCPP-5867{
	background-color:a6c281;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#ultralcdCPP-440{
	background-color:daccf4;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#ultralcdCPP-441{
	background-color:b6c5e7;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
#ultralcdCPP-442{
	background-color:c18cd0;
	border-style: solid;
	border-width: thin thick;
	border-color: white white white Red;
}
